<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Tech Inc./Tienda</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<meta name="keywords" content="TECNOLOGIA, CELULARES, COMPUTADORAS, SERVIDORES, REPARACION, SERVICIO TECNICO, BUENOS AIRES">
	<meta name="description" content="Todo lo que necesites para tu celular o computadora, fundas, carcazas, pendrives y mucho mas. Tambien te ofrecemos armado de pc y accesorios tecnologicos varios.">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="../css/script.css">
	<link rel="shorcut icon" href="../Assets/Imagenes/logoVentana.png" type="image/icon">
</head>
<body id="inicioPag" class="webBackgroundColor">

	<header class="container-fluid header__box">
		<div class="row flex-nowrap" style="background-color: ghostwhite;">

			<div id="espacioVacioResponsive" class="col-1"></div>

			<a href="#inicioPag" class="header__logo col-2">
				<img src="../Assets/Imagenes/logo.png" alt="logo">
				<span>Tech.Inc</span>
			</a>

			<div class="col d-flex align-items-center">
				<ul class="nav header__navigation">
					<li class="nav-item header__navigation--margen">
  						<a class="nav-link" href="../index.html">Inicio</a>
					</li>
					<li class="nav-item header__navigation--margenServicios">
  						<a class="nav-link " href="servicios.html">Servicios</a>
					</li>
						<button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split header__navigation--margen" data-toggle="dropdown">
    						<span class="caret"></span>
  						</button>
  							<div class="dropdown-menu">
    							<a class="dropdown-item" href="servicios.html#bannerCelulares">Celulares</a>
    							<a class="dropdown-item" href="servicios.html#bannerComputadoras">Computadoras</a>
    							<a class="dropdown-item" href="servicios.html#bannerServidores">Servidores</a>
    							<a class="dropdown-item" href="servicios.html#bannerEdicion">Edicion</a>
  							</div>
					<li class="nav-item header__navigation--margen">
  						<a class="nav-link disabled" href="tienda.html">Tienda</a>
					</li>
					<li class="nav-item header__navigation--margen">
  						<a class="nav-link" href="contacto.html">Contacto</a>
					</li>
  				</ul>
  			</div>

  			<a href="carro.html" class="col-1 d-flex align-items-center header__buyButton">
  				<img src="../Assets/Imagenes/carroLogo.png">
				<ul class="nav header__navigation">
					<li class="nav-item">
  						Carro
					</li>
				</ul>
			</a>

			<div id="espacioVacioResponsive" class="col-1"></div>

	</header>

	<main class="webBodyColorGainsboro">

	<section class="container-fluid webNoMargenContainer">
		<div class="row no-gutters">
			<div id="espacioVacioResponsive" class="col-1" style="background-color: black;"></div>
			<div class="col">
				<section class="tiendaIndiceBrg"> <!--Indice y fondo de bienvenida a la tienda-->
					<fieldset class="serviciosIndiceTexto" style="border: none;">
						<div class="serviciosIndiceTitulo">Tienda</div>
						<div class="serviciosIndiceContenido">Todo lo que necesitas en reparaciones y mantenimiento de tus aparatos electronicos.</div>
					</fieldset>
				</section>
			</div>
			<div id="espacioVacioResponsive" class="col-1" style="background-color: black;"></div>
		</div>
	</section>

	<div class="row no-gutters">
		<div class="col tiendaPaddingInicial">
			<section id="iconosInicioTienda" class="flxIconosTienda">
		<a href="#subMenuComputadorasTienda" id="tiendaIconoComputadoras" class="flxIconosTiendaPack webLinkNoColorB active">
			<div>
			<img src="../Assets/Imagenes/Icons/tiendaIconoComputadoras.png">
			</div>
			<div>
			Computadoras	
			</div>
		</a>
		<a href="#subMenuNotebooksTienda" class="flxIconosTiendaPack webLinkNoColorB">
			<div>
			<img src="../Assets/Imagenes/Icons/tiendaIconoNotebook.png">
			</div>
			<div>
			Notebooks	
			</div>
		</a>
		<a href="#subMenuCelularesTienda" class="flxIconosTiendaPack webLinkNoColorB">
			<div>
			<img src="../Assets/Imagenes/Icons/tiendaIconoCelulares.png">
			</div>
			<div>
			Celulares	
			</div>
		</a>
		<a href="#subMenuServidoresTienda" class="flxIconosTiendaPack webLinkNoColorB">
			<div>
			<img src="../Assets/Imagenes/Icons/tiendaIconoServidores.png">
			</div>
			<div>
			Servidores	
			</div>
		</a>
		<a href="#subMenuCamarasSeguridadTienda" class="flxIconosTiendaPack webLinkNoColorB">
			<div>
			<img src="../Assets/Imagenes/Icons/tiendaIconoCamaras.png">
			</div>
			<div>
			Camaras de seguridad	
			</div>
		</a>
	</section>

	<section id="iconosSubSeccionTienda">

	<!--Articulos computadoras-->
	<section id="subMenuComputadorasTienda" class="flxIconosSubTienda tiendaFakeMargin">
		<div class="flxIconosSubTiendaPack">
			<div>
			<img src="../Assets/Imagenes/Icons/tiendaPcMonitor.png">
			</div>
			<div>
			Monitores	
			</div>
		</div>
		<div class="flxIconosSubTiendaPack">
			<div>
			<img src="../Assets/Imagenes/Icons/tiendaPcMouse.png">
			</div>
			<div>
			Mouse	
			</div>
		</div>
		<div class="flxIconosSubTiendaPack">
			<div>
			<img src="../Assets/Imagenes/Icons/tiendaPcTeclado.png">
			</div>
			<div>
			Teclados	
			</div>
		</div>
		<div class="flxIconosSubTiendaPack">
			<div>
			<img src="../Assets/Imagenes/Icons/tiendaPcCooler.png">
			</div>
			<div>
			Ventiladores de pc	
			</div>
		</div>
		<div class="flxIconosSubTiendaPack">
			<div>
			<img src="../Assets/Imagenes/Icons/tiendaPcDiscoDuro.png">
			</div>
			<div>
			Disco rigidos	
			</div>
		</div>
		<div class="flxIconosSubTiendaPack">
			<div>
			<img src="../Assets/Imagenes/Icons/tiendaPcTarjetaSD.png">
			</div>
			<div>
			Memorias SD	
			</div>
		</div>
		<div class="flxIconosSubTiendaPack">
			<div>
			<img src="../Assets/Imagenes/Icons/tiendaPcAuriculares.png">
			</div>
			<div>
			Auriculares	Pc
			</div>
		</div>
		<div class="flxIconosSubTiendaPack">
			<div>
			<img src="../Assets/Imagenes/Icons/tiendaPcJoystick.png">
			</div>
			<div>
			Joysticks	
			</div>
		</div>
		<div class="flxIconosSubTiendaPack">
			<div>
			<img src="../Assets/Imagenes/Icons/tiendaPcCamaras.png">
			</div>
			<div>
			Camaras web	
			</div>
		</div>
	</section>

	<!--Articulos Notebooks-->
	<section id="subMenuNotebooksTienda" class="flxIconosSubTienda tiendaFakeMargin">
		<div class="flxIconosSubTiendaPack">
			<div>
			<img src="../Assets/Imagenes/Icons/tiendaPcMouse.png">
			</div>
			<div>
			Mouse	
			</div>
		</div>
		<div class="flxIconosSubTiendaPack">
			<div>
			<img src="../Assets/Imagenes/Icons/tiendaNotebookCooler.png">
			</div>
			<div>
			Base notebook	
			</div>
		</div>
		<div class="flxIconosSubTiendaPack">
			<div>
			<img src="../Assets/Imagenes/Icons/tiendaNotebookFunda.png">
			</div>
			<div>
			Funda notebooks	
			</div>
		</div>
		<div class="flxIconosSubTiendaPack">
			<div>
			<img src="../Assets/Imagenes/Icons/tiendaPcDiscoDuro.png">
			</div>
			<div>
			Disco rigidos	
			</div>
		</div>
		<div class="flxIconosSubTiendaPack">
			<div>
			<img src="../Assets/Imagenes/Icons/tiendaPcTarjetaSD.png">
			</div>
			<div>
			Memorias SD	
			</div>
		</div>
		<div class="flxIconosSubTiendaPack">
			<div>
			<img src="../Assets/Imagenes/Icons/tiendaPcAuriculares.png">
			</div>
			<div>
			Auriculares	Pc
			</div>
		</div>
		<div class="flxIconosSubTiendaPack">
			<div>
			<img src="../Assets/Imagenes/Icons/tiendaPcJoystick.png">
			</div>
			<div>
			Joysticks	
			</div>
		</div>
	</section>

	<!--Articulos Celulares-->
	<section id="subMenuCelularesTienda" class="flxIconosSubTienda tiendaFakeMargin">
		<div class="flxIconosSubTiendaPack">
			<div>
			<img src="../Assets/Imagenes/Icons/tiendaPcTarjetaSD.png">
			</div>
			<div>
			Memorias SD	
			</div>
		</div>
		<div class="flxIconosSubTiendaPack">
			<div>
			<img src="../Assets/Imagenes/Icons/tiendaCelularesFundas.png">
			</div>
			<div>
			Fundas
			</div>
		</div>
		<div class="flxIconosSubTiendaPack">
			<div>
			<img src="../Assets/Imagenes/Icons/tiendaCelularesVidrios.png">
			</div>
			<div>
			Vidrios templados	
			</div>
		</div>
		<div class="flxIconosSubTiendaPack">
			<div>
			<img src="../Assets/Imagenes/Icons/tiendaPcAuriculares.png">
			</div>
			<div>
			Auriculares
			</div>
		</div>
		<div class="flxIconosSubTiendaPack">
			<div>
			<img src="../Assets/Imagenes/Icons/tiendaCelularesAudifonos.png">
			</div>
			<div>
			Audifonos	
			</div>
		</div>
		<div class="flxIconosSubTiendaPack">
			<div>
			<img src="../Assets/Imagenes/Icons/tiendaCelularesCargadores.png">
			</div>
			<div>
			Cargadores
			</div>
		</div>
		<div class="flxIconosSubTiendaPack">
			<div>
			<img src="../Assets/Imagenes/Icons/tiendaCelularesBateria.png">
			</div>
			<div>
			Baterias
			</div>
		</div>
		<div class="flxIconosSubTiendaPack">
			<div>
			<img src="../Assets/Imagenes/Icons/tiendaCelularesAccesorios.png">
			</div>
			<div>
			Accesorios
			</div>
		</div>
	</section>

	<!--Articulos Servidores-->
	<section id="subMenuServidoresTienda" class="flxIconosSubTienda tiendaFakeMargin">
		<div class="flxIconosSubTiendaPack">
			<div>
			<img src="../Assets/Imagenes/Icons/tiendaServidoresArmados.png">
			</div>
			<div>
			Servidores armados
			</div>
		</div>
		<div class="flxIconosSubTiendaPack">
			<div>
			<img src="../Assets/Imagenes/Icons/tiendaServidoresRacks.png">
			</div>
			<div>
			Racks	
			</div>
		</div>
		<div class="flxIconosSubTiendaPack">
			<div>
			<img src="../Assets/Imagenes/Icons/tiendaPcDiscoDuro.png">
			</div>
			<div>
			Disco rigidos	
			</div>
		</div>
		<div class="flxIconosSubTiendaPack">
			<div>
			<img src="../Assets/Imagenes/Icons/tiendaPcCooler.png">
			</div>
			<div>
			Coolers
			</div>
		</div>
	</section>

	<!--Articulos Servidores-->
	<section id="subMenuCamarasSeguridadTienda" class="flxIconosSubTienda tiendaFakeMargin">
		<div class="flxIconosSubTiendaPack">
			<div>
			<img src="../Assets/Imagenes/Icons/tiendaCamarasBlindadas.png">
			</div>
			<div>Blindadas</div>
		</div>
		<div class="flxIconosSubTiendaPack">
			<div>
			<img src="../Assets/Imagenes/Icons/tiendaCamarasDomo.png">
			</div>
			<div>Domo</div>
		</div>
		<div class="flxIconosSubTiendaPack">
			<div>
			<img src="../Assets/Imagenes/Icons/tiendaCamarasInfrarojas.png">
			</div>
			<div>Infrarojas</div>
		</div>
		<div class="flxIconosSubTiendaPack">
			<div>
			<img src="../Assets/Imagenes/Icons/tiendaCamarasWifi.png">
			</div>
			<div>Wifi</div>
		</div>
	</section>
	</section>
		</div>
	</div>

	<div class="row no-gutters">
		<div id="espacioVacioResponsive" class="col-1"></div>
		<div class="col">

	<article id="grillaTienda" >
	<section id="tiendaBox" class="tiendaListadoBox">
		<section>
		<form class="tiendaBuscador"><!--BUSCADOR-->
			<input type="text" name="Buscador" class="tiendaBuscadorBox">
			<input type="submit" value="Buscar" class="tiendaBuscadorBoton">
		</form>
			<div class="tiendaListadoItems">
				<div class="flxItemsTienda">
				<img src="../Assets/Imagenes/item01.jpg">
				<div class="tiendaListadoItemsLetters">
					<div class="tiendaListadoItemsLTitulo">Motorola G8 <br> Power lite</div>
					<div class="tiendaListadoItemsLContenido">Pantalla de 6.4 pulgadas <br>
						Android 9 Pie. <br>
						4GB en RAM. <br>
						64GB de almacenamiento interno. <br>
						Espacio para microSD de hasta 256GB.<br>
					</div>
					<div class="tiendaListadoItemsLPrecio">$25.999</div>
					<button type="button" class="tiendaBotonAgregar btn btn-primary">Agregar al carrito</button>
				</div></div>

				<div class="flxItemsTienda">
				<img src="../Assets/Imagenes/item02.jpg">
				<div class="tiendaListadoItemsLetters">
					<div class="tiendaListadoItemsLTitulo">Notebook HP<br> Amd E2 9000</div>
					<div class="tiendaListadoItemsLContenido">Procesador AMD A4 <br>
						4GB de RAM ddr4<br>
						HDD 500 GB<br>
						Graficos AMD Radeon R3<br>
						Tiene Windows 10N<br>
					</div>
					<div class="tiendaListadoItemsLPrecio">$64.999</div>
					<button type="button" class="tiendaBotonAgregar btn btn-primary">Agregar al carrito</button>
				</div></div>

				<div class="flxItemsTienda">
				<img src="../Assets/Imagenes/item03.jpg">
				<div class="tiendaListadoItemsLetters">
					<div class="tiendaListadoItemsLTitulo">PC armada<br> Lista para juegos</div>
					<div class="tiendaListadoItemsLContenido">Procesador AMD Ryzen 3 <br>
						8GB de RAM ddr4<br>
						SSD 240 GB<br>
						Graficos Vega 8<br>
						Tiene Windows 10N<br>
					</div>
					<div class="tiendaListadoItemsLPrecio">$75.999</div>
					<button type="button" class="tiendaBotonAgregar btn btn-primary">Agregar al carrito</button>
				</div></div>

				<div class="flxItemsTienda">
				<img src="../Assets/Imagenes/item05.jpg">
				<div class="tiendaListadoItemsLetters">
					<div class="tiendaListadoItemsLTitulo">Mouse Logitech <br> G102 Prodigy</div>
					<div class="tiendaListadoItemsLContenido">6 botones (laterales) <br>
						Rueda desplazamiento<br>
						Peso: 0.20Kg<br>
						Luces integradas (no cambian de color)<br>
						6.000 dpi<br>
					</div>
					<div class="tiendaListadoItemsLPrecio">$11.999</div>
					<button type="button" class="tiendaBotonAgregar btn btn-primary">Agregar al carrito</button>
				</div></div>

				<div class="flxItemsTienda">
				<img src="../Assets/Imagenes/item01.jpg">
				<div class="tiendaListadoItemsLetters">
					<div class="tiendaListadoItemsLTitulo">Motorola G8 <br> Power lite</div>
					<div class="tiendaListadoItemsLContenido">Pantalla de 6.4 pulgadas <br>
						Android 9 Pie. <br>
						4GB en RAM. <br>
						64GB de almacenamiento interno. <br>
						Espacio para microSD de hasta 256GB.<br>
					</div>
					<div class="tiendaListadoItemsLPrecio">$25.999</div>
					<button type="button" class="tiendaBotonAgregar btn btn-primary">Agregar al carrito</button>
				</div></div>

				<div class="flxItemsTienda">
				<img src="../Assets/Imagenes/item02.jpg">
				<div class="tiendaListadoItemsLetters">
					<div class="tiendaListadoItemsLTitulo">Notebook HP<br> Amd E2 9000</div>
					<div class="tiendaListadoItemsLContenido">Procesador AMD A4 <br>
						4GB de RAM ddr4<br>
						HDD 500 GB<br>
						Graficos AMD Radeon R3<br>
						Tiene Windows 10N<br>
					</div>
					<div class="tiendaListadoItemsLPrecio">$64.999</div>
					<button type="button" class="tiendaBotonAgregar btn btn-primary">Agregar al carrito</button>
				</div></div>

				<div class="flxItemsTienda">
				<img src="../Assets/Imagenes/item03.jpg">
				<div class="tiendaListadoItemsLetters">
					<div class="tiendaListadoItemsLTitulo">PC armada<br> Lista para juegos</div>
					<div class="tiendaListadoItemsLContenido">Procesador AMD Ryzen 3 <br>
						8GB de RAM ddr4<br>
						SSD 240 GB<br>
						Graficos Vega 8<br>
						Tiene Windows 10N<br>
					</div>
					<div class="tiendaListadoItemsLPrecio">$75.999</div>
					<button type="button" class="tiendaBotonAgregar btn btn-primary">Agregar al carrito</button>
				</div></div>

				<div class="flxItemsTienda">
				<img src="../Assets/Imagenes/item05.jpg">
				<div class="tiendaListadoItemsLetters">
					<div class="tiendaListadoItemsLTitulo">Mouse Logitech <br> G102 Prodigy</div>
					<div class="tiendaListadoItemsLContenido">6 botones (laterales) <br>
						Rueda desplazamiento<br>
						Peso: 0.20Kg<br>
						Luces integradas (no cambian de color)<br>
						6.000 dpi<br>
					</div>
					<div class="tiendaListadoItemsLPrecio">$11.999</div>
					<button type="button" class="tiendaBotonAgregar btn btn-primary">Agregar al carrito</button>
				</div></div>
			</div>
		</section>
		</section>
		</article>
		</div>
		<div id="espacioVacioResponsive" class="col-1"></div>
	</div>
	<div class="row no-gutters">
		<div id="espacioVacioResponsive" class="col-1"></div>
		<div class="col">
				<ul class="pagination tiendaListadoItemsPag">
    				<li class="page-item disabled"><a class="page-link" href="">Anterior</a></li>
   					<li class="page-item active"><a class="page-link" href="">1</a></li>
   					<li class="page-item"><a class="page-link" href="">2</a></li>
   					<li class="page-item"><a class="page-link" href="">3</a></li>
   					<li class="page-item"><a class="page-link" href="">Siguiente</a></li>
 				</ul>
		</div>
		<div id="espacioVacioResponsive" class="col-1"></div>
		</div>

		<div class="row no-gutters">
			<div id="espacioVacioResponsive" class="col-1" style="background-color: black;"></div>
			<div class="col">
				<section id="anuncioMouseGamer" class="tiendaAnuncioAnimado">
					<img src="../Assets/Imagenes/MouseAnimado.png">
				</section>
			</div>
			<div id="espacioVacioResponsive" class="col-1" style="background-color: black;"></div>
		</div>









	
	</main>

	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

	<footer>
		<div class="row no-gutters" style="background-color:rgb(237,237,237);">
				<div id="espacioVacioResponsive" class="col-1" >
					
				</div>

				<div class="col-md-10 d-block ">
					<div class="d-flex footerBtsp">
						<div>
							Tech.Inc
						</div>
						<div class="align-self-center">
							<a href="https://twitter.com/home"><img src="../Assets/Imagenes/twtIcon.png" alt="Twitter" style="float: right;"></a>
						</div>
						<div class="align-self-center">
							<a href="https://www.facebook.com/"><img src="../Assets/Imagenes/fbIcon.png" style="float: right;" alt="Facebook"></a>
						</div>
						<div class="align-self-center">
							<a href="https://www.youtube.com/"><img src="../Assets/Imagenes/ytIcon.png" style="float: right;" alt="Facebook"></a>
						</div>
					</div>
					<div>
						<a href="#inicioPag">Volver al inicio</a>
					</div>
					<div>
						<a href="">Soporte</a>
					</div>
					<div>
						© 2020 Tech inc. Todos los derechos reservados.
					</div>
					<div>
						C/ Los Condoritos, 69 (Parque industrial Paturuzito) · Tlf. <a href=" ">48 15162342</a>  · Fax. <a href="">0451 69 06 66</a>
					</div>
					
				</div>

				<div id="espacioVacioResponsive" class="col-1" >
					
				</div>
			</div>
	</footer>

</body>
</html>